<!DOCTYPE html>
<html lang="ja">
	<head prefix="og:http://ogp.me/ns#">
		<!-- OGP -->
		<meta property="og:title" content="SinonomeScarlet's Profile!!">
		<meta property="og:description" content="SinonomeScarletのプロフィール">
		<meta property="og:url" content="https://profile.sinonomenetwork.jp/">
		<meta property="og:image" content="https://profile.sinonomenetwork.jp/img/og_image.jpg">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="SinonomeNetwork">
		<meta property="og:locale" content="ja_JP" />
		<meta property="fb:app_id" content="1138536483836132" />
		<!-- Twitter OGP -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="SinonomeScarlet's Profile!!">
		<meta name="twitter:description" content="SinonomeScarletのプロフィール">
		<meta name="twitter:image" content="https://profile.sinonomenetwork.jp/img/og_image.jpg">
		<meta name="twitter:site" content="@manago0403_">
		<meta name="twitter:creator" content="@manago0403_">
		<!-- SITEMETA -->
		<title>SinonomeScarlet's Profile!!</title>
		<meta name="description" content="SinonomeScarletのプロフィール" />
		<meta name="keywords" content="SinonomeNetwork, SinonomeScarlet, 東雲スカーレット" />
		<meta name="author" content="SinonomeScarlet" />
		<meta name="copyright" content="©2018-2024 SinonomeNetwork" />
		<meta name="generator" content={Astro.generator} />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,address=no" />
		<link rel="icon" type="shortcut image/x-icon" href="./favicon.ico" />
		<link rel="canonical" href="https://profile.sinonomenetwork.jp/" />
		<!-- Windows -->
		<meta name="msapplication-config" content="./browserconfig.xml" />
		<!-- Apple -->
		<link rel="apple-touch-icon" sizes="512x512" href="./img/favicon.png" />
		<!-- Android -->
		<meta name="theme-color" content="#3cb371" />
	</head>
	<body>
		<slot/>
	</body>
</html>
<style is:global>
	:root{
		--accent:0,255,154;
		--accent-light:224,204,250;
		--accent-dark:66,69,73;
		--accent-gradient:linear-gradient(45deg,rgb(var(--accent)),rgb(var(--accent-light)) 30%,white 60%);
	}
	html{font-family:system-ui,sans-serif;background:#13151a;background-size:224px}
	code{
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
